<div class="home">
  <div>
    <h2>Marios Reviews<h2>
  </div>
  <div>
    <p>
      This is a site all about catching the bad stuff before you have to!
    </p>
    <p>
      Current Products Total: <%= @all_products %>
    </p>
    <p>
      Current Reviews Total: <%= @all_reviews %>
    </p>

    <p>
      This website started 3/19/2021
    </p>
  </div>
  <a href="/products">Get Started.. Go To Products </a>
</div>