@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Hind+Madurai&display=swap');
:root {
  --rich-blue: #0276FD
}
/* page setup */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;

}
body {
  display: flex;
  font-weight: 900;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: white;
  background-color:rgb(24, 26, 27);
  font-family: 'Dosis', sans-serif;
}
#page-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}
a {
  color: white;
}
/* titling */
.titleize {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 0px 0px 5px 5px;
  box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
}
.titleize {
  font-size: 76px;
}
.center-content {
  margin-left: 100%;
  margin-right: 100%;
}
/* card display for products */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding: 20px;
  grid-auto-rows: minmax(200px, auto);
}
.card-wrapper > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow:
    inset 0px 0px 4px black,
    0px 0px 1px 2px white,
    inset 0px 0px 5px white,
    inset 0px 0px 5px rgb(0, 0, 0);
}
.card-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chango', cursive;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.card-wrapper a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: .2s;
}
.card-wrapper > div:nth-child(odd)  {
  width: 100%;
  height: 100%;
  background: var(--rich-blue);
}
.card-wrapper > div:nth-child(even)  {
  width: 100%;
  height: 100%;
  background: #1D7CF2;
}

/* review display */
.wrapper-review {
  background: var(--rich-blue);
  border-radius: 20px;
  box-shadow:
    inset 0px 0px 5px rgba(255, 255, 255, 0.418),
    inset 0px 0px 14px rgb(0, 0, 0);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  grid-auto-rows: minmax(200px, auto);
}
.wrapper-review > div {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper-review a {
  border-radius: 15px 0 0 15px;
  color: white;
  box-shadow: inset 0px 0px 5px black;
  text-decoration: none;
}
.wrapper-review a:hover {
  color: gold;
}
.author-container {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 36px;
  border-radius: 15px 0px 0px 15px;
}
.author-container a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.author-container a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px 0px 0px 15px;
  transition: .2s;
}
.rating-container {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: black;
  color: white;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
}
.content-body-container {
  color: white;
}

/* forms */
.form-page {
  display:flex;
  height: 100%;
}
.form-page > div {
  width: 50%;
}
.form-side {
  width: 100%;
  height: 100%;
  background-color: #1D7CF2;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form > form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form label {
  margin-right: 30px;

}
.form input {
  padding: 10px;
  border-radius: 20px;
}
/* navigation */
.nav-link {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}
.nav-link a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 2px solid rgb(255, 255, 255);
  padding: 2px 10px;
  border-radius: 10px;
}
.nav-link a:hover {
  background: white;
  color: black;
  box-shadow: 0px 0px 2px black;
  transition: .2s;
}
/* crud options */
.change {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  justify-content: space-between;
}
.change > * {
  padding: 20px;
}
.change a {
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:black;
  color: white;
  border: 2px solid white;
  font-size: 25px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border: 2px solid white;
  text-decoration: none;
}
.change a:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 5px black;
  color: rgb(255, 255, 255);
  transition: .2s;
  color: rgb(0, 0, 0);
}
/* specific page and element styles */
.view-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 40px;
  color: white;
}

.home {
  font-size: 36px;
  padding: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px white;
  margin-right: auto;
  margin-left: auto;
  color: white;
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  border-radius: 20px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  font-size: 64px;
  color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 5px white;
}
.description > div {
  padding: 20px;
}
.thickening-shadow {
  box-shadow:
    inset 0px 0px 10px rgb(0, 0, 0);
}
.center {
  text-align: center;
}
.info {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.info-title{
  font-size: 46px;
  padding: 30px;
  height: 120px;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 2px black;
  border-radius: 20px;
}
.info-description {
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 40px;
  height: 50%;
  box-shadow: inset 0px 0px 2px black;
  background-color: rgb(255, 255, 255);
}
#review-view-text {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: inset 0px 0px 5px black;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  font-size: 35px;
  color: black;
  padding: 50px;
  height: 65vh;
  background-color: var(--rich-blue);
}
#error {
  display: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}