@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Hind+Madurai&display=swap');
/* page setup */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;

}
body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color:#f4faff;
  font-family: 'Dosis', sans-serif;
  font-family: 'Hind Madurai', sans-serif;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.123);
}
#page-container {
  min-width: 80%;
  max-width: 100%;
  min-height: 100vh;
}
/* titling */
.titleize {
  width: 100%;
  text-align: center;
}
.titleize {
  font-size: 76px;
}
.center-content {
  margin-left: 100%;
  margin-right: 100%;
}
/* card display for products */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding: 20px;
  grid-auto-rows: minmax(200px, auto);
}
.card-wrapper > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow:
    inset 0px 0px 4px black,
    0px 0px 1px 2px white,
    inset 0px 0px 5px white,
    inset 0px 0px 5px rgb(0, 0, 0);
    
}
.card-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chango', cursive;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.card-wrapper a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: .2s;
}
.card-wrapper > div:nth-child(odd)  {
  width: 100%;
  height: 100%;
  background: #2F78C5;
}
.card-wrapper > div:nth-child(even)  {
  width: 100%;
  height: 100%;
  background: #0F60B6;
}

/* review display */
.wrapper-review {
  background: #0F60B6;
  border-radius: 20px;
  box-shadow:
    inset 0px 0px 5px white,
    inset 0px 0px 10px rgb(0, 0, 0);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  grid-auto-rows: minmax(200px, auto);
}
.wrapper-review > div {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper-review a {
  color: white;
  text-decoration: none;
}
.wrapper-review a:hover {
  color: gold;
}
.author-container {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 36px;
  border-radius: 15px 0px 0px 15px;
}
.author-container a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.author-container a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px 0px 0px 15px;
  transition: .2s;
}
.rating-container {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: black;
  color: white;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
}
.content-body-container {
  color: white;
}

/* forms */
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.form > form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* navigation */
.nav-link {
  width: 100%;
  text-align: center;
}
.nav-link a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px 10px;
  border-radius: 10px;
}
.nav-link a:hover {
  background: white;
  color: black;
  box-shadow: 0px 0px 2px black;
  transition: .2s;
}
/* crud options */
.change {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  justify-content: space-between;
}
.change > * {
  padding: 20px;
}
.change a {
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:black;
  color: white;
  font-size: 25px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border: 2px solid black;
  box-shadow: inset 0px 0px 1px white;
  text-decoration: none;
}
.change a:hover {
  background-color: rgba(0, 0, 0, 0.281);
  box-shadow: inset 0px 0px 5px black;
  color: rgb(255, 255, 255);
  transition: .2s;
  background-color: rgb(255 255 255 / 28%);
  color: rgb(0 0 0);
}
/* specific page and element styles */
.view-container {
  min-height: 90vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  font-size: 36px;
}
.home {
  font-size: 76px;
  padding: 40px;
  background-color: rgba(0, 176, 207, 0.466);
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  font-size: 64px;
  color: white;
}
.description > div {
  padding: 20px;
}
.thickening-shadow {
  box-shadow:
    inset 0px 0px 5px white,
    inset 0px 0px 10px rgb(0, 0, 0);
}
