:root {
  --plate-max-width: 80%;
}
/* page setup */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}
#page-container {
  max-width: var(--plate-max-width);
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* titling */
.titleize {
  width: 100%;
  text-align: center;
}
.titleize {
  font-size: 76px;
}
.center-content {
  margin-left: 100%;
  margin-right: 100%;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding: 20px;
  grid-auto-rows: minmax(200px, auto);
}
.card-wrapper > div
.card-wrapper > div:nth-child(odd)  {
  width: 100%;
  height: 100%;
  background:rgb(31, 31, 31);
}
.card-wrapper > div:nth-child(even)  {
  width: 100%;
  height: 100%;
  background:rgb(87, 87, 87);
}