<div class="titleize">
  <div class="title">Products</div>
</div>

<div class="nav-link">
    Add a Product? Sure : <%= link_to "Add One Here", new_product_path %>
</div>

<% if @products.any? %>
  <div class="card-wrapper">
    <% @products.each do |product| %>
      <div>
        <%= link_to product.name, product_path(product) %>
      </div>
    <% end %>
  </div>
<% end %>
