<div class="titleize">
  <div class="title">Products</div>
</div>

<% if @products.try(:any?) %>
  <div class="card-wrapper">
    <% @products.each do |product| %>
      <div>
        <div>
          <%= link_to product.name, recipe_path(recipe) %>
        </div>
        <div>
          <div>
            <%= '$' + product.cost %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
