<div class="titleize">
  <div class="title">Products</div>
</div>

<% if @products.any? %>
  <div class="card-wrapper">
    <% @products.each do |product| %>
      <div>
        <div>
          <div>
            <%= link_to product.name, product_path(product) %>
            <%= "$#{product.cost}" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
