<div class="search-field">
  <form action="/products/search">
    <input id="product_search" class="field" name="q" type="text" placeholder="Search Name">
    <button type="submit">Submit</button>
  </form>
</div>